* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: blue;
    padding: 20px;
    border-radius: 12px;
}

.inputBtn {
    border: 0;
    outline: 0;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    box-shadow: 5px 5px 16px rgba(255, 255, 0.5), 5px 5px 15px rgba (200, 145, 0.5);
    background: #f8efef;
    font-size: 25px;
    color: green;
    cursor: pointer;
    margin: 12px;
}

.inputBtn:hover {
    background-color: aqua;
}

.inputBtn:active {
    background-color: brown;
}

.Display {
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    width: 330px;
    padding: 28px;
    border-radius: 8px;
    font-size: 20px;
    text-align: left;
}

form .display input {
    text-align: right;
    font-size: 100px;
    color: black;
    display: right;
}

.equal {
    width: 157px;
}

.operator {
    color: #da2020;
}